@include mediaMd {
  .header-container {
    padding: 2.2em;

    & .logo {
      width: 140px;
    }
  }

  .info-container {
    padding: 1em 3em;

    & h1 {
      font-size: 3.5rem;
      letter-spacing: 9px;
    }

    & p {
      font-size: 1.1rem;
    }
  }

  .email-container {
    & .email {
      width: 70%;
      height: 55px;
      font-size: 0.95rem;
    }

    & .error {
      position: absolute;
      right: 25%;
      width: 30px;
    }

    & .button-container {
      height: 54px;
      padding: 0.9em;
      right: 13.8%;

      & .button {
        width: 16px;
      }
    }

    & small {
      bottom: -47%;
      left: 16%;
      font-size: 0.95rem;
    }
  }
}

@include mediaLg {
  body {
    height: 100vh;
    width: 100%;
    & .main-container {
      background-image: url('../images/bg-pattern-desktop.svg');
      background-color: hsl(0, 100%, 98%);
      background-repeat: no-repeat;
      background-size: cover;
      display: grid;
      grid-template-columns: 50% 10% auto;
      grid-template-rows: 20% 30% 30% 20%;
      grid-template-areas:
        'logo space img'
        'info space img'
        'email space img'
        'copyr space img';
      border-radius: 10px;
    }
  }

  .header-container {
    grid-area: logo;
    padding-top: 4em;
    margin-left: 5em;
    align-items: flex-start;

    & .logo {
      width: 150px;
    }
  }

  .info-container {
    grid-area: info;
    align-items: flex-start;
    margin-left: 5em;
    & h1 {
      text-align: left;
      font-size: 4rem;
      line-height: 65px;
    }

    & p {
      font-size: 0.9rem;
      text-align: left;
      line-height: 25px;
    }
  }

  .email-container {
    grid-area: email;
    margin-left: 7em;

    & .email {
      width: 35vw;
      height: 50px;
      padding: 0.5em 2em;
    }

    & .error {
      right: 18%;
    }

    & .button-container {
      width: 60px;
      height: 49px;
      padding: 0.7em;
      right: -4%;
      opacity: 0.9;
      cursor: pointer;
    }

    & small {
      left: 4%;
      font-size: 0.85rem;
    }
  }

  .image-container {
    grid-area: img;

    & .hero-mobile {
      display: none;
    }

    & .hero-desktop {
      display: block;
      height: 100vh;
    }
  }

  .footer {
    grid-area: copyr;
    margin-bottom: 1em;
  }
}

@include mediaXl {
  body {
    height: 100vh;
    width: 100%;
    & .main-container {
      background-image: url('../images/bg-pattern-desktop.svg');
      background-color: hsl(0, 100%, 98%);
      background-repeat: no-repeat;
      background-size: cover;
      display: grid;
      grid-template-columns: 55% 5% auto;
      grid-template-rows: 20% 30% 30% 20%;
      grid-template-areas:
        'logo space img'
        'info space img'
        'email space img'
        'copyr space img';
      border-radius: 10px;
    }
  }

  .header-container {
    grid-area: logo;
    padding-top: 4em;
    margin-left: 8em;
    align-items: flex-start;

    & .logo {
      width: 160px;
    }
  }

  .info-container {
    grid-area: info;
    align-items: flex-start;
    margin-left: 8em;
    & h1 {
      text-align: left;
      font-size: 4rem;
      line-height: 65px;
    }

    & p {
      font-size: 0.9rem;
      text-align: left;
      line-height: 25px;
      padding-right: 14em;
      margin-bottom: 0;
    }
  }

  .email-container {
    grid-area: email;
    margin-left: 10em;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 0;

    & .email {
      width: 395px;
      height: 50px;
      padding: 0.5em 1.5em;
    }

    & .error {
      right: 18%;
    }

    & .button-container {
      width: 60px;
      height: 50px;
      padding: 0.7em;
      right: -4%;
      opacity: 0.9;
      cursor: pointer;
    }

    & small {
      left: 4%;
      font-size: 0.85rem;
    }
  }

  .image-container {
    grid-area: img;

    & .hero-mobile {
      display: none;
    }

    & .hero-desktop {
      display: block;
      height: 100vh;
    }
  }

  .footer {
    grid-area: copyr;
    margin-bottom: 1em;
  }
}
